body {
  background-color: beige;
}

h1 {
  color: cornflowerblue;
  transition: color.5s ease-in-out;
}

.active {
  color: tomato;
}

.cool-font {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
